<h1>Paquetes</h1>
<mat-divider></mat-divider>

<div class="card-grid">
  <div *ngFor="let paquete of paquetes" class="card-item">
    <mat-card class="paquete-card" (click)="viewPaqueteDetails(paquete.idPaquete)">
      <mat-card-header class="card-header">
        <mat-card-title>{{ paquete.nombrePaquete }}</mat-card-title>
      </mat-card-header>
      <div *ngIf="paquete.imageUrl; else noImage">
        <img mat-card-image [src]="paquete.imageUrl" [alt]="paquete.nombrePaquete" class="image-preview">
      </div>
      <ng-template #noImage>
        <img mat-card-image src="assets/default-image.jpg" [alt]="paquete.nombrePaquete" class="image-preview">
      </ng-template>
      <mat-card-content class="card-content">
        <p><strong>Descripción:</strong> {{ paquete.descripcion }}</p>
        <p><strong>Categoría:</strong> {{ paquete.categoria }}</p>
        <p><strong>Costo:</strong> {{ paquete.costo | currency }}</p>
        <p><strong>Fechas:</strong> {{ paquete.fechas | date }}</p>
        <p><strong>Tipo:</strong> {{ paquete.tipo }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>


