<mat-horizontal-stepper [linear]="isLinear">
  <mat-step label="Actualizar Información Básica">
    <form [formGroup]="updFormGroup" (ngSubmit)="openConfirmDialog()">
      <mat-form-field appearance="fill">
        <mat-label>Seleccionar Restaurante</mat-label>
        <mat-select (selectionChange)="onRestauranteSelected($event.value)">
          <mat-option *ngFor="let restaurante of restaurantes" [value]="restaurante.nombreRestaurante">
            {{ restaurante.nombreRestaurante }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Nombre Restaurante</mat-label>
        <input matInput formControlName="nombreRestaurante" placeholder="Nombre Restaurante" required>
      </mat-form-field>
      
      <mat-form-field appearance="fill">
        <mat-label>Descripción Restaurante</mat-label>
        <textarea matInput formControlName="descripcion" placeholder="Descripción Restaurante" rows="4"></textarea>
      </mat-form-field>
      
      <mat-form-field appearance="fill">
        <mat-label>URL de la Imagen</mat-label>
        <input matInput formControlName="imageUrl" placeholder="URL de la imagen">
      </mat-form-field>
      
      <mat-form-field appearance="fill">
        <mat-label>Calificación</mat-label>
        <input matInput formControlName="calificacion" placeholder="Calificación" type="number" step="0.1">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Costo</mat-label>
        <input matInput formControlName="costo" placeholder="Costo" type="number" step="0.01">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Categoría</mat-label>
        <input matInput formControlName="categoria" placeholder="Categoría">
      </mat-form-field>

      <button mat-button type="submit">Actualizar</button>
    </form>
  </mat-step>
</mat-horizontal-stepper>
